:root {
  --back-color: #ffffff;
  --button-color: #8e2424;
  --text-color: #3a404e;
  --menu-color: #667085;
  --sub-cabecalho: #8E2424;
  --titulo-cabecalho: #101828;
  --conteudo-cabecalho: #667085;
}
